* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    position: relative;
    background-color: black;
}

span {
    margin: 0;
    padding: 0;
}

.top-bar {
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 999;
}

.topbar-wrapper {
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-right {
    display: flex;
    align-items: center;
}

.logo {
    font-weight: bold;
    font-size: 30px;
    color: black;
    cursor: pointer;
}

.icon {
    cursor: pointer;
    color: #555;
    margin-right: 10px;
}

.top-avatar {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
}

.profile-dropdown-wrapper {
    position: relative;
    display: inline-block;
}

#profile-dropdown {
    display: flex;
    align-items: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 50px;
    right: 0px;
    background-color: #f1f1f1;
    flex-direction: column;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd
}

button {
    padding: 10px;
    box-sizing: border-box;
    background-color: rgb(117, 125, 240);
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    color: #f0f0f0;

    position: relative;
    top: 0;
    transition: top ease 0.15s;
}

.top-bar button {
    border-radius: 2px;
}

.verify-btn {
    display: none;
    margin-left: 10px;
    border-radius: 5px;
    height: 35px;
    padding: 0 10px;
}

#user_name {
    padding: 10px;
}

.modal {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.profile-update-header-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 30px;
}

/* Check Marks */
.verified {
    display: none !important;
    color: #339900 !important;
}
.unvarified {
    display: none !important;
    color: #cc3300 !important;
}

.verify-link {
    display: none;
    margin-left: 10px;
}

.show {
    display: flex !important;
}

.hidden {
    display: none;
}

form {
    width: 400px;
    padding: 2rem;
    margin: 2rem;
    background-color: #f0f0f0;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 10px;

    display: flex;
    justify-content: center;
    flex-direction: column;
}

form h1 {
    font-size: 25px;
}

form h2 {
    margin-top: 10px;
    margin-bottom: 30px;
    font-weight: normal;
    font-size: 15px;
    color: #1f1f1f;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 16px;
}

input {
    height: 40px;
    padding-left: 15px;
    border: 1px solid rgb(207, 205, 205);
    border-radius: 5px;
    width: 100%;
}

.input-wrapper {
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    align-items: center;
}

.input-wrapper span {
    margin-left: 10px;
    cursor: default;
}

.disabled {
    outline: none;
    cursor: default;
}